<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
<<<<<<< HEAD

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="./assets/css/style.css" type='text/css'>
	<title>Fab Libs</title>
</head>

<body>
	<div class="container">
		{{{ body }}}
	</div>
	<hr>
	<!--Container-->
	<footer class="container">
		<p> Copyright &#9400 2018 Missile Panthers </p>
	</footer>
	{{!--
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/js/index.js"></script> --}}
</body>
<script src='/assets/javascript/app.js' type='text/javascript'></script>

=======
        
		<script  src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="./assets/css/style.css" type='text/css'>
		<title>Fab Libs</title>
	</head>
	<body>
        <div class="container">
			{{> nav active}}	
		    {{{ body }}}
        </div>
	</body>
    <script src='/assets/javascript/app.js' type='text/javascript'></script>
>>>>>>> 6f0f803ae5917abbf9da4944caf2f9d19735b88c
</html>