<div class="wrapper">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img src="assets/images/FabLibsLogo.png" alt="logo" id="logo">
        </div>
    <h1>Home / Gallery Page</h1>
    </div>
