<h1>Home / Gallery Page</h1>

<div style=" font-family: " Pangolin ", cursive;">This is Pangolin. SLEEPOVER.</div>
<div style="font-family: " Sunshiney ", cursive;">This is Sunshiney. SLEEPOVER.</div>
<div style="font-family: " Freckle Face ", cursive;">This is Freckleface. CAMPING.</div>
<div style="font-family: " Parisienne ", cursive;">This is Parisienne. WEDDING.</div>
<div style="font-family: " Life Savers ", cursive;">This is Life Savers. BABY.</div>
<div style="font-family: " Butterfly Kids ", cursive;">This is Butterfly Kids. BABY.</div>

<p.sleep1>This is Pangolin. SLEEPOVER.</p>
    <div style=>This is Sunshiney. SLEEPOVER.</div>
    <div style=>This is Freckleface. CAMPING.</div>
    <div style=>This is Parisienne. WEDDING.</div>
    <div style=>This is Life Savers. BABY.</div>
    <div style=>This is Butterfly Kids. BABY.</div>