<div class="wrapper">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img src="assets/images/FabLibsLogo.png" alt="logo" id="logo" class="animated tada"> 
        </div>
    </div>
<h1 class=>Home / Gallery Page</h1>


<div>
    <p class="sleep1">This is Pangolin. SLEEPOVER. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, illo soluta quo aliquam
        quam natus quod debitis mollitia saepe, vitae blanditiis. Cum, et? Omnis quis magni repellat dignissimos velit aliquam!
    </p>
</div>
<div>
    <p class="sleep2">This is Sunshiney. SLEEPOVER. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio quod aliquam omnis quis
        praesentium facere doloremque! Laborum odio delectus quos, quasi nisi est, dolor dolores sequi dicta debitis consequuntur
        consequatur.
    </p>
</div>
<div>
    <p class="camp">This is Freckleface. CAMPING. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid enim temporibus veritatis
        ab perspiciatis ipsum cum voluptate sed maxime velit. Consectetur, distinctio. Earum quaerat aliquid, accusamus officiis
        minima ipsam aspernatur?
    </p>
</div>
<div>
    <p class="wedding">This is Parisienne. WEDDING. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur nihil voluptatum atque
        ipsum architecto corporis deserunt numquam saepe necessitatibus, illum, possimus alias autem nobis at laboriosam
        debitis, qui tempora ipsam.
    </p>
</div>
<div>
    <p class="boys">This is Dodko.BOYS Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium earum dolores magnam, obcaecati
        exercitationem praesentium non! Quaerat reprehenderit, adipisci ipsa dolor cupiditate reiciendis! Perferendis perspiciatis
        soluta necessitatibus inventore. Similique, eius?
    </p>
</div>
<div>
    <p class="baby2">This is Life Savers. BABY. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error atque quas doloremque sapiente
        maxime et at asperiores odio eum excepturi. Voluptas provident modi magnam nisi exercitationem. Aperiam, ipsum. Accusantium,
        placeat!
    </p>
</div>
<div>
    <p class="baby1">This is Butterfly Kids. BABY. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis beatae eos excepturi. Totam
        possimus esse, in ut repudiandae architecto sit cupiditate veniam, iure corporis aperiam inventore minima neque consequuntur
        quaerat.
    </p>
</div>
