
{{!-- <div class="wrapper"> --}}
<br/><br/><br/><br/>

    <center><img src="assets/images/FabLibsLogo.png" alt="logo" id="logo" width="100%" class="animated tada"></center>
    
<h1>Home / Gallery Page</h1>



    <p class="sleep1">This is Pangolin. SLEEPOVER. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, illo soluta quo aliquam
        quam natus quod debitis mollitia saepe, vitae blanditiis. Cum, et? Omnis quis magni repellat dignissimos velit aliquam!
    </p>

    <!--Make 2 coloumsn, that goes to 1 column when responsive, Make CARDS?-->
    <div id="gallery1"></div>

</div>
<script src="./assets/javascript/gallery.js" type="text/javascript"></script>