<h1> Madlib Results Page</h1>


  
{{!-- <center><img src="./assets/images/blankpaper.png" width="80%" /></center> --}}

  <div class="centered"><div id="madlib"></div></div>
</div>
{{!-- <form method="GET">
    <button type="submit" class="btn btn-primary" id="button-clear-table">Clear Table</button>
</form> --}}

<script src="./assets/javascript/finalmadlib.js" type="text/javascript"></script>

