
<h1>Play Page</h1>

{{!-- Pick a category --}}
<form id="play-form" method="POST">

<div class="form-pick-category">
    <label for="selectCategory">Select Fablib Category</label>
    <select class="form-control" id="selectCategory" name="selectCategory">
     <option value="0">Choose One</option>
      <option value="1">Sleepover</option>
      <option value="2">Baby</option>
      <option value="3">Camping</option>
      <option value="4">Bachelorrette/Bridal</option>
    </select>
  </div>
  {{!-- <button type="submit" class="btn btn-primary" name="category-submit" id="category-submit">Submit</button> --}}


{{!-- Entries Form --}}
<div id="entries-form" class="entries" style="display: none;">
  
      <label for="selectCategory">Enter Your Submissions</label>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Verb:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="" name="word_1" id="word_1">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Noun:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="" name="word_2" id="word_2">
    </div>
  </div>
 <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Adjective:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="" name="word_3" id="word_3">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Noun:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="" name="word_4" id="word_4">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Noun:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="" name="word_5" id="word_5">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Verb:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="" name="word_6" id="word_6">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Adverb:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="" name="word_7" id="word_7">
    </div>
  </div>
<div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Adjective:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="" name="word_8" id="word_8">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Adjective:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="" name="word_9" id="word_9">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Noun:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="" name="word_10" id="word_10">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Noun:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="" name="word_11" id="word_11">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Noun:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="" name="word_12" id="word_12">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Noun:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="" name="word_13" id="word_13">
    </div>
  </div>
 <!-- Submit Button -->
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit My Words</button>
    </div>
  </div>
</form>

</div>

{{!-- 
{{> entries active}} --}}
