.nav-item {
  font-size: 25px;
}
.navbar-brand {
  width: 100px;
}

div,
body {
  margin: 0;
  padding: 0;
  font-family: "Pangolin", cursive;
  font-size: 25px;
  color: black;
}

.wrapper {
  width: 100vh;
  height: 100vh;
  /* background color: #ffbc1f; */
  background: radial-gradient(
    circle at 50% 25%,
    #fff4b2 5%,
    #fee120,
    #ff9e1f 40%
  );
}

#logo {
  display: block;
  margin: auto;
  width: 53%;
}

#body.sleep {
  background-image: url("sleepover.png");
  font-family: "Sunshiney", cursive;
  font-size: 22px;
  color: black;
}

#body.wedding {
  background-image: url(".png");
  font-family: "Parisienne", cursive;
  font-size: 22px;
  color: black;
}

#body.camp {
  background-image: url("camping.png");
  font-family: "Freckle Face", cursive;
  font-size: 22px;
  color: black;
}

#body.baby {
  background-image: url("baby_shower.png");
  font-family: "Butterfly Kids", cursive;
  font-size: 22px;
  color: black;
}

#body.boys {
  background-image: url("sleepover.png");
  font-family: "Dokdo", cursive;
  font-size: 22px;
  color: black;
}

.footer {
  text-align: center;
  text-shadow: 1px 1px white;
  color: black;
}



.entry {
  font-size: 30px;
  color: blue;
}

/*These are just to view fonts until the background switch is set up*/
/* p.sleep {
  font-family: "Sunshiney", cursive;
  font-size: 22px;
  color: black;
}

p.wedding {
  font-family: "Parisienne", cursive;
  font-size: 22px;
  color: black;
}
p.camp {
  font-family: "Freckle Face", cursive;
  font-size: 22px;
  color: black;
}

p.boys {
  font-family: "Dokdo", cursive;
  font-size: 22px;
  color: black;
}

p.baby1 {
  font-family: "Butterfly Kids", cursive;
  font-size: 22px;
  color: black;
}

p.baby2 {
  font-family: "Life Savers", cursive;
  font-size: 22px;
  color: black;
} */
